.main{
    background-color: bisque;
    &__content{
        border: 1px solid black;
        background-color: grey;
        & h2{
            color: red;
            
        }
        @media (min-width:800px) {
            background-color: blue;
            & h2{
                color: yellow;
                font-family: 'Courier New', Courier, monospace; 
            }
        }
    }
}